

<h1><i class="fa fa-users"></i> Your Groups

  <a href="<%= new_group_path %>" class="btn btn-info pull-right"><i class="fa fa-plus"></i> New Group</a>
</h1>

<ul>
  <% @groups.each do |g| %>
    <li><%= link_to g.name, group_path(g) %></li>
  <% end %>
</ul>



<h1><i class="fa fa-list"></i> Your Lists
  <a href="<%= new_list_path %>" class="btn btn-info pull-right"><i class="fa fa-plus"></i> New List</a>
</h1>

<ul>
  <% @lists.each do |l| %>
    <li><%= link_to l.name, list_path(l) %></li>
  <% end %>
</ul>
