<h1>Your Lists
  <a href="<%= new_list_path %>" class="btn btn-info pull-right"><i class="fa fa-plus"></i> New List</a>
</h1>

<ul>
  <% @own_lists.each do |l| %>
    <li><%= link_to l.name, list_path(l) %></li>
  <% end %>
</ul>




<h1>Your friend's and family's wish lists</h1>

<ul>
  <% @other_lists.each do |l| %>
    <li><%= link_to l.name, list_path(l) %></li>
  <% end %>
</ul>
