<h1>Your Lists
  <a href="<%= new_list_path %>" class="btn btn-info pull-right"><i class="fas fa-plus"></i> New List</a>
</h1>

<ul>
  <% if @own_lists.each do |l| %>
    <li><%= link_to l.name, list_path(l) %></li>
  <% end.empty? %>
    <p>You have not created any lists yet.</p>
  <% end %>
</ul>

<h1>Your friend's and family's wish lists</h1>

<ul>
  <% if @other_lists.each do |l| %>
    <li><%= link_to l.name, list_path(l) %></li>
  <% end.empty? %>
    <p>Nobody has shared any lists with you.</p>
  <% end %>
</ul>
