<h1>Editing Group

<%= link_to '<i class="fas fa-eye"></i> Show'.html_safe, @group, class: 'btn btn-success pull-right' %>
<%= link_to '<i class="fas fa-sign-out-alt"></i> Leave'.html_safe, leave_group_path(@group), class: 'btn btn-danger pull-right space-right' %>

</h1>

<%= render 'form' %>
