<h1>Your Groups

  <a href="<%= new_group_path %>" class="btn btn-info pull-right"><i class="fa fa-plus"></i> New Group</a>
</h1>

<ul>
  <% @groups.each do |g| %>
    <li><%= link_to g.name, group_path(g) %></li>
  <% end %>
</ul>


<h1>Public Groups</h1>

<ul>
  <% if @public_groups.each do |g| %>
    <li><%= link_to g.name, group_path(g) %></li>
  <% end.empty? %>
  <p>There are no public groups.</p>
  <% end %>
</ul>
