<li>
  <%= items_form.text_field :name, label: 'Item' %>
  <%= items_form.text_field :description, label: 'Item Description' %>
  <%= items_form.remove_nested_fields_link '<i class="fa fa-trash"></i> Remove'.html_safe, class: 'btn btn-danger' %>
</li>