// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$outline-color: gray;

.list-hrs {
  padding-left: 0;
  margin-bottom: 20px;
}

.list-hrs li {
  display: block;
  padding: 10px 0;
  min-height: 50px;
  margin-bottom: -1px;
  border-top: 1px solid $outline-color;
  border-bottom: 1px solid $outline-color;

}
