// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "lists";

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.space-below {
  margin-bottom: 10px;
}

.space-above {
  margin-top: 20px;
}

.space-right {
  margin-right: 5px;
}

label.required:after {
  content:" *";
}
